{% extends 'base.html.twig' %}

{% block title %}Students index{% endblock %}

{% block body %}
    <h1>Students</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>BirthDate</th>
                <th>Cpf</th>
                <th>Plan</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.birthDate ? student.birthDate|date('Y-m-d') : '' }}</td>
                <td>{{ student.cpf }}</td>
                <td>{{ student.premiumStudentPlan ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('students_show', {'id': student.id}) }}">show</a>
                    <a href="{{ path('students_edit', {'id': student.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('students_new') }}">Create new</a>
{% endblock %}
