{% extends 'base.html.twig' %}

{% block title %}StudentsClass index{% endblock %}

{% block body %}
    <h1>StudentsClass index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>WeekDay</th>
                <th>ClassSchedule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for students_class in students_classes %}
            <tr>
                <td>{{ students_class.id }}</td>
                <td>{{ students_class.weekDay }}</td>
                <td>{{ students_class.classSchedule }}</td>
                <td>
                    <a href="{{ path('students_class_show', {'id': students_class.id}) }}">show</a>
                    <a href="{{ path('students_class_edit', {'id': students_class.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('students_class_new') }}">Create new</a>
{% endblock %}
