<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>4you2 Employees</title>
    <style>
        body {
            background-color: rgb(12, 11, 11);
            color: white;
        }
        form, table {
            width: 35%;
            margin: auto;
            border: 1px solid #0980ff;
            padding: 50px;
            box-sizing: border-box;
            border-radius: 5px;
        }
        form > div {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
        }
        form > div > label {
            font-size: 15pt;
        }
        form > div > input {
            margin-top: 15px;
            font-size: 13pt;
            padding: 5px 5px;
            color: rgb(0, 0, 0);
            border-radius: 10px;
        }
        table {
            margin-top: 15px;
            text-align: center;
        }
        thead th {
            background: #0a2849;
            color: #fff;
        }
        thead tr th:first-child {
            width:40%;
        }
        tr td:first-child { 
            text-align: left; 
            }
        .text-danger {
            color: #bf6262;
        }
        .edit-txt {
            color: #1d70af;
        }
        .text-danger:hover {
            color: #5e5e5e;
        }
        .edit-txt:hover {
            color: #5e5e5e;
        }
        .nameLabel{
            border-color: #9db4f1;
        }
        .positionLabel{
            border-color: #9db4f1;
        }
        .ageLabel{
            border-color: #9db4f1;
        }
        .message{
            text-align: center;
            padding: 20px;
        }
    </style>
    <script>
        function ageValidation(){

            const age = document.getElementById("age").value;
            const position = document.getElementById("position").value;

            if(age < 18 && position !== "Apprentice") {
            alert("The employee needs to be at least 18 years old.");
            return false;
        }
        else {
            return true;
        }
        }
    </script>
</head>
<body>
    {% for message in app.flashes('message') %}
    <div class="message">
        {{ message }}
    </div>
    {% endfor %}
    <form action="{{ path('addEmployee') }}" onsubmit="return ageValidation()" method="post">
        <div>
            <label>Employee's Name</label>
            <input class="nameLabel" id="name" type="text" name="name" required/>
        </div>
        <div>
            <label>Position</label>
            <input class="positionLabel" id="position" type="text" name="position" required/>
        </div>
        <div>
            <label>Age</label>
            <input class="ageLabel" id="age" type="number" name="age" required/>
        </div>
        <div>
            <input class="save" type="submit" value="Save"/>
        </div>
    </form>
    <table>
        <thead>
            <tr>
                <th>Employee's Name</th>
                <th>Position</th>
                <th>Age</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employee %}
            <tr>
                <td>{{employee.name}}</td>
                <td>{{employee.position}}</td>
                <td>{{employee.age}}</td>
                <td>
                    <a class="edit-txt" href="{{ path('edit', { 'id': employee.id}) }}">edit</a>
                    <a>    |   </a>
                    <a class="text-danger" href="{{ path('remove', { 'id': employee.id}) }}">remove</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>